footer {
    width: 100%;
    background: rgba(0, 0, 0, .5) url('Images/IndexBG.jpg');
    background-blend-mode: color;
    background-position: bottom;
    background-size: 100%;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-top: 20px;
}

.footer {
    display: flex;
    justify-content: center;
    font-size: 12px;
}

.FollowUs {
    flex-direction: column;
    margin-right: 150px;
}

.Contacts {
    flex-direction: column;
}

.Links a {
    flex-direction: column;
    text-decoration: none;
    line-height: 30px;
    color: inherit;
}

.Info1 p {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    line-height: 30px;
    color: inherit;
}

.CC {
    background: linear-gradient(#050505, black);
    background-blend-mode: color;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: 150%;
    height: 60px;
    color: rgba(255, 255, 255, 0.684);
    letter-spacing: 3px;
}

.at {
    padding-top: 20px;
    text-align: center;
}