.FeaturedP{
    background: linear-gradient(#060608, rgb(95, 95, 95), rgb(150, 150, 150));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.FPTitle{
    color: white;
    margin-top: 50px;
    font-family: "GTRFont";
    font-size: 3rem;
    font-weight: lighter;
    letter-spacing: 1px;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2px;
}

.Products{
    transition: .5s;
    padding-top: 30px;
}

.Products td img:hover{
    scale: 105%;
}

.FPImages{
    width: 100px;
    height: 100px; 
}

.Item{
    position: relative;
    transition: transform .5s;
}

.Item:hover{
    transform: scale(1.02);
}

.ImageP1{
    scale: 90%;
}

.ImageP2{
    scale: 105%;
}

.ImageP3{
    scale: 107%;
}

.MainI a{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    opacity: 0;
    text-decoration: none;
    transition: .5s;
}

.MainI a:hover{
    opacity: 1;
}

.MainI h3{
    color:white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.FPImages img {
    padding: 0px 30px;
    width: 320px;
    transition: .5s;
}

.FPNames td{
    color: white;
    text-align: center;
    font-size: 1rem;
    letter-spacing:1px ;
    font-family: Arial, Helvetica, sans-serif; 
    padding-bottom: 50px;
}

.Info {
    background: linear-gradient(rgb(150, 150, 150), rgb(192, 192, 192), rgb(192, 192, 192), white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.InfoHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.InfoHeader h1{
    margin-top: 80px;
    font-family: "GTRFont";
    font-size: 3.5rem;
    font-weight: lighter;
    letter-spacing: 2px;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2px;
}

.InfoHeader h5{
    margin-top: 5px;
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.Brands th {
    font-size: 130%;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-stroke-color: rgb(44, 44, 44);
    -webkit-text-stroke-width: 1px;
    padding-top: 40px;
}

.Brands td{
    color: rgb(44, 44, 44);
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    font-size: small;
    font-weight: lighter;
}

.Audio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.Audio h2{
    font-size: 1.8rem;
    font-family: "GTRFont";
    font-weight: bold;
    -webkit-text-stroke-color: rgb(44, 44, 44);
    -webkit-text-stroke-width: .5px;
    margin: 50px;
}

.Audio h6 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: rgb(44, 44, 44);
}

