* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: GTRFont;
    src: url(Fonts/Good-Times-Regular.otf);
}

@keyframes SlideU { 
    0%   {
        transform: translateY(5px);
        opacity: 0;
    }
    90% {
        opacity: 1;
    }
}

@keyframes SlideL { 
    0%   {
        transform: translateX(5px);
        opacity: 0;
    }
    90% {
        opacity: 1;
    }
}

@keyframes SlideR { 
    0%   {
        transform: translateX(-5px);
        opacity: 0;
    }
    90% {
        opacity: 1;
    }
}

@keyframes CartSlideR {
    0%   {
        transform: translateX(250px);

    }
    90% {
        transform: translateX(0px);
    }
}

.UpperPart {
    background: rgba(0, 0, 0, .5) url('Images/IndexBG.jpg');
    background-blend-mode: color;
    background-position: top;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Logo {
    display: flex;
    justify-content: center;
    margin-right: 350px;
    color: white;
    animation: SlideR .5s ease-in;
}

.Logo h1{
    font-family: "GTRFont";
    font-size: 1rem;
    margin: 5px 10px;
}

.Logo img {
    width: 30px;
    height: 30px;
}

.Navigations {
    display: flex;
    animation: SlideL .5s ease-in;
}

.Buttons button {
    color: white;
    background-color: transparent;
    border-color: 2px solid #252525;
    border-radius: 15px;
    padding: 8px 18px;
    text-align: center;
    font-size: 10px;
    cursor: pointer;
    transition: .5s;
}

.Buttons a {
    margin: 0px 15px;
    border-radius: 15px;
}
.Search {
    font-family: Arial, sans-serif;
    text-align: center; 
    margin-top: 5px;
    margin-left: 15px;
}

.search-form {
    border-radius: 4px;
    overflow: hidden;
}

.search-form input {
    font-size: 10px;
    color: white;
    width: 150px;
    padding: 5px;
    border: none;
    float: left;
    background-color: rgba(161, 161, 161, 0.2);
    border-bottom: 2px solid black;
    outline: none;
}

.search-form input::placeholder {
    color: #ffffff; 
}

.search-form button{
    background-color: transparent;
    border: none;
    padding: 5px;
    cursor: pointer;
    float: left;
}

.SearchImage {
    width: 12px;
    height: 12px;
}

.Cart {
    position: relative;
    margin-left: 50px;
}

.Cart:hover {
    cursor: pointer;
}
.Cart svg {
    color: white;
}

.Cart span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
    color: white;
    width: 20px;
    height: 20px;
    display: flex;
    background-color: rgb(73, 73, 73);
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -5px;
}
